html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#landing {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/bg.jpg') no-repeat 100% 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scrollDown a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  cursor: pointer;
  width: 50px;
  text-decoration: none;
}

.scrollDown i:nth-child(1) {
  animation: arrowsDown 4s infinite;
}

.scrollDown i:nth-child(2) {
  position: relative;
  top: -5px;
  animation: arrowsDown 4s infinite;
  animation-delay: 0.5s;
}

.scrollDown i:nth-child(3) {
  position: relative;
  top: -10px;
  animation: arrowsDown 4s infinite;
  animation-delay: 1s;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo {
  height: 80px;
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.project {
  min-width: 310px;
  width: 32%;
  height: 400px;
  background-color: #fff;
  border: 1px solid black;
}

#skills {
  width: 100%;
}

#skills div[class='text-center'] {
  padding: 0 15px;
}

.skillSet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.skill {
  min-width: 278px; /* (310 - padding) */
  padding: 4rem 2rem;
  margin: 15px;
  background-color: white;
}

.skill i {
  border: solid;
  border-radius: 10%;
  padding: 10px;
  margin: 0 5px 0 5px;
  font-size: 3em;
  color: #4caf50;
}

.skill p {
  color: #797979;
}

.grow {
  transition: transform 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.fix-icon-size {
  width: 60px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #717c89;
  width: 100%;
  color: #c2c4c7;
}

.getInTouch {
  background-color: #4caf50;
  width: 30%;
  position: relative;
  top: -2.2rem;
  min-width: 310px;
  color: #fff;
}

.getInTouch a {
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
}

.phrase {
  font-size: 1.4rem;
}

.icons i {
  border: solid;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px 0 5px;
  font-size: 2em;
  color: #c2c4c7;
}

.change-color {
  transition: color 0.3s ease-in-out;
}

.change-color:hover {
  color: #fff;
}

.copy {
  font-size: 0.8rem;
}

/* Generic */
.box {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

@keyframes arrowsDown {
  0% {
    color: white;
  }
  50% {
    color: gray;
  }
  100% {
    color: white;
  }
}
